{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"> اتالیق<small class="text-muted">A CS-Student Mentoring Platform </small></h1>

        <p class="lead">Whether, you are professional or beginner in Computer Programming
            <strong>We will help you grow.</strong> Start your journey here and see where it goes.</p>
        <hr class="my-4">
        <p>What do you consider yourself?</p>
        <p class="lead">
            <a href="" class="btn btn-primary btn-lg">Student</a>
            or <a href="/apply" class="btn btn-success btn-lg">Mentor</a>
        </p>
    </div>
{% endblock %}