{% extends "base.html" %}
{% block title %}Mentor{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Mentor</h1>
        <form method="post" class="needs-validation" novalidate>
                {% for control in form %}
                    {% if not loop.last %}
                        <div class="form-row">
                            {{ control.label }}
                            {% if control.errors %}
                                {{ control(class="form-control is-invalid") }}
                            {% elif control.data and not control.errors %}
                                {{ control(class="form-control is-valid") }}
                            {% else %}
                                {{ control(class="form-control") }}
                            {% endif %}

                            {% for error in control.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                            {% endfor %}
                        </div>

                    {% endif %}
                {% endfor %}

{#            {{ form.recaptcha }}#}
            {{ form.csrf_token }}
        <br>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
        <p class="lead">

        </p>
        <hr class="my-4">
        <p><a href="">Click Here</a> if you want to become a mentor?</p>
    </div>
{% endblock %}